	body
	{
	width: 100%;
    background-color: rgb(250, 250, 250);
    margin: 0px;
    padding: 0px;
	border-top: 4px solid #910000;
    min-height: 100%;
    position: relative;
    line-height: 1.43;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}
	.panel
	{
	word-spacing: 0.9px;
	border-top:0px;
	background-color:transparent;
	border-width:0.7px;
	border-radius:0px;
	}
	.text-primary
	{
	font-family:Roboto, 'sans-serif';
	color:#000;
	font-size: 60px;
	font-weight:100;
	text-align:center;	
	}
	h2
	{
	font-family:Roboto, 'sans-serif';
	color:#000;
	font-size:26px;
	font-weight:300;
	}
	#success
	{
		font-size:20px;
	}
	.text-danger 
	{
	color:#910000;
	}
	@media only screen and (min-device-width: 360px) {
	.text-primary:after
	{
    content: ".COM";
	font-size:27px;color:#910000;font-weight:300;
	}
	}